P{
    color: blue;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 1em;
    word-spacing: 10px;
    text-shadow: 1px 1px 10px black;
}

a{
    text-decoration: none;
}