body{
    font-size: 1.2rem;
}


#i1{
    float: right;
}

p{
    clear: none;
}

#imagem{
    overflow: auto;
    padding: 10px;
    background-color: rgb(235, 235, 235);
    clear: right;
}

#menu ul{
    list-style: none;
    float: right;
}

li{
    float: left;
    padding: 10px;
    background-color: rgb(235, 235, 235);
    margin: 5px;
}