*{
    margin: 0;
    padding: 0;
}

p{
    padding: 5px 10px;
}

div{
    margin: 5px;
}

.borda{
    border-width: 3px;
    border-color: red;
    border-radius: 10px;
}

.quadrado{
    width: 100px;
    height: 100px;
    background-color:rgb(255, 208, 0);
    border-radius: 50%;
}

.dotted{
    border-style: dotted;
}

.dashed{
    border-style: dashed;
}

.solid{
    border-style: solid;
}

.none{
    border-style: none;
}

.hidden{
    border-style: hidden;
}