*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; 
}

#container{
  width: 800px;
  height: 800px;
  background-color: grey;

  display: flex;
  gap: 1px;
}

.square{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;

  width: 100px;
  height: 100px;

  background-color: rgba(72, 255, 0, 0.4);

  font-size: 32px;
  font-weight: bold;
  color: white;
}

#container div:nth-child(1), div:nth-child(2){
  flex-grow: 2;
}