.container{
    background-color: gray;
    /*height: 500px;*/
    font-size: 32px;
    color: white;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.rect{
    width: 250px;
    height: 250px;
}

.r1{
    background-color: red;
}

.r2{
    background-color: blue;
}


.r3{
    background-color: green;
}