*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: Novafonte;
    src: url(../fonts/DancingScript/DancingScript-VariableFont_wght.ttf);
}

body{
    background-color: black;
}

#container{
    width: 400px;
    height: 200px;
    padding: 1px 20px;
    margin: 100px auto;
    background: url(../Images/backgorund.png) no-repeat center;
    background-size:cover;  

    border-radius: 75px 0px;
}

#nome-cartao{
    margin: 15px 0px;
}

#nome-cartao h1{
    padding-left: 15px;
    font-family: 'Novafonte';
}

#redes-socias li{
    padding-bottom: 5px;
    list-style-position: inside;
}

#redes-socias ul{
    padding-left: 15px;
    font-size: 20px;
    font-family: 'Novafonte';
}

#redes-socias a{
    text-decoration: none;
}

#redes-socias a:visited{
    color:black;
}

#redes-socias a:hover{
    text-decoration: underline;
}


.instagram{
    list-style-image: url(../Images/Insta.png);
}

.twitter{
    list-style-image: url(../Images/twitter.png);  
}

.youtube{
    list-style-image: url(../Images/youtube.png);
}
